@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic);

html {
    font-size: 1em;
    line-height: 1.4;
    font-family: Ubuntu;
}

body {
  margin: 0;
  padding: 0;
}


#page {
  width: 100%;
  float: left;
}

#hello {
  background: url('images/header.jpeg') center / cover;
  color: #FFF;
  text-align: center;
  padding-top: 50px;
  height: 100vh;
}

#hello h1 {font-size: 156px; font-weight: 300; line-height: 156px; margin: 0; margin-top: 30vh;}

#hello h2 {font-size: 48px; font-weight: 300; line-height: 48px; margin:0; margin-top: 50px;}
#hello h3 {font-size: 30px; font-weight: 300; line-height: 24px; margin:0; margin-bottom: 20px;}

#hello a {color: #FFF}
#hello a:hover {color: #556270}


.center {
  margin: auto;
  width: 40%;
  overflow: hidden;
  min-width: 800px;
  text-align: left;
  margin-bottom: 100px;
}

.profile_image {
  margin-left: 30%;
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
  background: url('images/profile.jpg') center / cover;
}

.project {
  height: 100vh;
}


.wrapper {
  margin: auto;
  width: 50%;
  overflow: hidden;
  margin-top: 50px;
  min-width: 800px;
}

.left {
  float:left;
  min-width: 500px;
}

.right {
  width: 30%;
  float:left;
  text-align: left;
  min-height: 400px;
}

#aboutMe {
  background-color: #FFF;
  color: #FFF;
  text-align: center;
  align-items: center;
  height: 500px;
  margin-bottom: 50px;
  margin-top: 50px;
}

#aboutMe h1 {font-size: 100px; font-weight: 300; line-height: 156px; margin: 0; color: #556270}

#aboutMe p {font-size: 25px; font-weight: 300; margin: 0; color: #556270}

#aboutMe a {color: #373737}
#aboutMe a:hover {color: #373737}

#portfolio {
  background-color: #373737;
  color: #FFF;
  text-align: center;
  align-items: center;
  padding-top: 50px;
  margin-top: 100px;

}

#portfolio h1 {font-size: 100px; font-weight: 300; line-height: 156px; margin: 20px; color: #FFF;}
#portfolio h2 {font-size: 48px; font-weight: 300; line-height: 48px; margin-top: 50px; padding-top: 20px; color: #FFF;}

#portfolio p {font-size: 20px; font-weight: 300; margin: 0; color: #FFF; margin-bottom: 20px;}

#portfolio a {color: #FFF}
#portfolio a:hover {color: #FFF}

.showFirst {
  animation-name: showFirst;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

.showSecond {
  padding: 20px;
  animation-name: showLater;
  animation-iteration-count: 1;
  animation-duration: 2s;
}

.showThird {
  padding: 20px;
  animation-name: showLater;
  animation-iteration-count: 1;
  animation-duration: 4s;
}

.showThirdNoBackground {
  animation-name: showLater;
  animation-iteration-count: 1;
  animation-duration: 4s;
}

#white {
  background-color: #FFF;
}

#white h1 {font-size: 100px; font-weight: 300; line-height: 156px; margin: 20px; color: #FFF;}
#white  h2 {font-size: 48px; font-weight: 300; line-height: 48px; margin-top: 50px; padding-top: 20px; color: #FFF;}

#white  p {font-size: 20px; font-weight: 300; margin: 0; color: #FFF; margin-bottom: 20px;}

#white  a {color: #FFF}
#white  a:hover {color: #FFF}

#contact {
  height: 100vh;
}

/*
@keyframes showFirst {
    0% {opacity: 0}
		100% {opacity: 1}
}

@keyframes showLater {
    0% {opacity: 0}
    50% {opacity: 0}
		100% {opacity: 1}
}
*/
