.mdl-layout__header {
  background-color: #424242;
  background: url('images/head.jpg') center / cover;
}

.mdl-layout__header > .mdl-grid {
  min-width: 1200px;
  text-align: left;
}

.mdl-layout__drawer > .mdl-layout-title {
  background: #212121;
  color: #fff;
}

.page_title > a:link, a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.a2:link, .a2:visited {
  color: red;
  display: inline-block;
}

.active_tab {
  background-color: #e0e0e0;
}
