@import "tailwindcss";

@theme {
  --animate-gradient: gradient 8s linear infinite;

  @keyframes gradient {

    0%,
    100% {
      background-size: 200% 200%;
      background-position: left center;
    }

    50% {
      background-size: 200% 200%;
      background-position: right center;
    }
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark light;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}