@import "tailwindcss";

@theme {
  --animate-fade-in: fade-in 1s ease-out forwards;

  @keyframes fade-in {
    0% {
      opacity: 0;
      filter: blur(10px);
    }

    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  @apply bg-neutral-50;
}